body {
    border: 1px solid black;
    width: 99%;
    height: 1000px;
    background: url(https://th.bing.com/th/id/R.23fbe0242656e33199deb49e0fc565a5?rik=uKLaq%2fUBYMg%2faA&pid=ImgRaw&r=0) no-repeat;
    background-size: cover;
    background-position: center;
}
.topBar{
    position: absolute;
    padding-top:17px;
    width:99%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    margin-top: 0%;
    background-color: rgb(169, 13, 133);
    height: 17%;
}
.logo{
    left: 10px;
    width: auto;
}
.navbar a {
    font-size:30px;
    color: rgb(242, 234, 234);
    text-decoration: none;
    margin-right: 40px;
    cursor: pointer;
}
.navbar a:hover {
    text-decoration: underline;

}
.video{
    margin-top: 180px;
    margin-left: 450px;
    width: 300px;
}
aside{
    width: 300px;
    margin: 10px;
    padding: 5px;
    float: left;
}
.circle-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute; 
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);
}
hr{
    border: 1px solid black;
    width: 100%;
    top: 100%;
    
}
.link{
    position: absolute;
    left: 25%;
    top: 140%;
    font-size: 20px;
    color: #ededed;
}
.nav a:hover{
    text-decoration: underline;
}
.address{
    position: absolute;
    left: 20px;
    color: #ededed;
    font-size: 20px;
    
}
.facebook{
    position: absolute;
    left: 20px;
    top: 160%
}
.instagram{
    position: absolute;
    left: 90px;
    top: 160%
}
.twitter{
    position: absolute;
    left: 160px;
    top: 160%;
}
.map{
    position: absolute;
    left: 64%;
    top: 140%;
    height: 100px;
}
.number{
    position: absolute;
    top: 158%;
    left: 250px;
}

.AboutMe  >body{
    border: 1px solid black;
    width: 99%;
    height: 1000px;
    background: url(https://th.bing.com/th/id/R.23fbe0242656e33199deb49e0fc565a5?rik=uKLaq%2fUBYMg%2faA&pid=ImgRaw&r=0) no-repeat;
    background-size: cover;
    background-position: center;
    color: #ededed;
    font-size: 20px;

}

.contact   >body{
    border: 1px solid black;
    width: 99%;
    height: 1000px;
    background: url(https://th.bing.com/th/id/R.23fbe0242656e33199deb49e0fc565a5?rik=uKLaq%2fUBYMg%2faA&pid=ImgRaw&r=0) no-repeat;
    background-size: cover;
    background-position: center;
    color: #ededed;
    font-size: 50px;
}

